nav {
    height: 4rem;
}

main {
    height: calc(100vh - 4rem);
    background-color: lightgray;
    border-radius: 16px;
    position: relative;
}

#map-details-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
}

#map-details-panel > * {
    margin: auto;
    background-color: antiquewhite;
    height: 50%;
    padding: 1rem;
}

#map-details-panel

.details-panel-item {
    background-color: blue;
    padding: 1rem;
    border-radius: 8px;
    height: 100%;
}